@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --graysh-blue: hsl(208, 11%, 55%);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  background-image: url(./images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--very-pale-cyan);
  color: var(--very-dark-cyan);
}

.header {
  margin: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.btn-header {
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 13px 60px;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
  color: var(--very-dark-cyan);
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.856);
  color: hsla(192, 100%, 10%, 0.534);
}

.btn-started {
  border: none;
  cursor: pointer;
  background-color: var(--pink);
  padding: 13px 60px;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
  color: white;
  margin-top: 20px;
}

.btn-started:hover {
  background-color: hsla(322, 100%, 66%, 0.637);
}

p {
  font-size: 18px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  max-width: 1440px;
  margin: 0 auto;
}

.mockup-container img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: 600;
}

.h1-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 200px;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 50px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
}

.content-image {
  width: 80%;
  height: auto;
}

.content-p {
  color: var(--graysh-blue);
}

.second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 50px 70px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
  position: relative;
  margin-bottom: -70px;
  z-index: 10;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px;
  background-color: var(--very-dark-cyan);
  color: var(--very-pale-cyan);
}

.footer-info {
  margin: 80px 0 0 150px;
}

.footer-info p,
.footer-info span {
  font-size: 12px;
  margin-bottom: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-info,
.footer-links {
  font-size: 14px;
  color: var(--very-pale-cyan);
  display: flex;
  flex-direction: column;
}

.footer-social a {
  margin-right: 15px;
  font-size: 22px;
}

.logo-footer {
  width: 80%;
  margin-bottom: 50px;
}

.footer-contact span {
  color: var(--very-pale-cyan);
  margin-bottom: 10px;
}

.footer-links {
  margin-left: 50px;
}

.footer-links a,
.footer-social a {
  color: var(--very-pale-cyan);
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-social {
  margin-top: 100px;
}

.social-icons {
  margin-bottom: 150px;
}

.copy {
  font-size: 12px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .header,
  .footer {
    display: flex;
    flex-direction: column;
  }

  .btn-header {
    margin-top: 15px;
    max-width: 100%;
  }

  .container {
    text-align: center;
  }

  .btn-started {
    margin-bottom: 20px;
  }

  .container,
  .blocks,
  .footer-info,
  .footer-social {
    display: block;
  }

  .mockup-container img,
  .content-image {
    width: 100%;
    height: auto;
  }

  .block-content {
    text-align: center;
  }

  .footer-info,
  .footer-links,
  .footer-social {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .footer-info p,
  .footer-contact span {
    font-size: 14px;
  }

  .btn-header,
  .btn-started {
    padding: 10px 30px;
  }

  .blocks {
    grid-template-columns: 1fr;
  }

  .logo-footer {
    margin-top: 30px;
  }
}
